@model IEnumerable<MedCore.Web.Models.Medical.SpecialtiesModels.SpecialtiesModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SpecialtiesId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialtyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialtiesId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialtyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.SpecialtiesId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.SpecialtiesId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.SpecialtiesId })
            </td>
        </tr>
}
    </tbody>
</table>
